@import url("../assets/fonts/stylesheet.css");
@import "~bootstrap/scss/bootstrap";
html {
	* {
		padding: 0;
		margin: 0;
		// debugg ghost elements
		// background: #000 !important;
		// color: #0f0 !important;
		// outline: solid #f00 1px !important;
	}

	// body css starts here
	body {
		font-family: "GT Walsheim Pro", sans-serif;
		// background-color: burlywood;

		//// button css
		.get-started-button,
		.get-started-button:active,
		.get-started-button:hover {
			background-color: hsl(5, 100%, 68%) !important;
			border-color: rgb(255, 105, 92) !important;
			border-radius: 0;
			font-size: 1.25rem;
		}

		//form
		.form-control-lg {
			border-radius: 0;
		}

		.add-shadow {
			box-shadow: 0 1px 11px 1px hsl(240, 11%, 89%);
		}

		//border right
		.border-right {
			border-right: 1px solid hsl(0, 0%, 92%);
		}
		//card heading
		.card-heading {
			font-size: 0.75rem;
			font-weight: 300;
			padding: 0.1rem;
			margin: 0.2rem;
		}

		//card values
		.card-values {
			font-weight: 400;
			font-size: 1rem;
			padding: 0.1rem;
			margin: 0.2rem;
		}
	}
}
