.user-card {
	width: 95%;
	height: 8rem;
	margin: 0.2rem;

	.col-one {
		.name {
			font-size: 1.375rem;
			font-weight: 700;
		}
		.location {
			font-size: 1rem;
			font-weight: 300;
		}
		.ratings {
			width: 100%;
			height: auto;
		}
	}

	.col-two {
		.expertise-row {
			border-bottom: 1px solid hsl(0, 0%, 92%);
		}
	}

	.col-three {
		.experience-row {
			border-bottom: 1px solid hsl(0, 0%, 92%);
		}
	}
}
